body{
    font: 20px Arial, sans-serif;
}

.navbar{
    background-color: #1ABC9C;
}
.quem-somos{
    background-color: #5499C7;
    color: bisque;
}
.parceiros{

    background-color: #7FB3D5;

}
.margin{
    padding-bottom: 50px;
    padding-top: 10px;
}
.bg-footer{
    background-color: black;
    color: bisque;
}